deploy/workspaceArtifacts/pipeline/3-SQL Serverless Data Layer.json
{
	"name": "3-SQL Serverless Data Layer",
	"properties": {
		"description": "Process Raw CSV files into Refined layer via Serverless DB external tables",
		"activities": [
			{
				"name": "LKP Control File",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_ADLS_CSV_Generic",
						"type": "DatasetReference",
						"parameters": {
							"container": "synapseadls",
							"filepath": "config",
							"filename": "Control-RefinedDefinition.csv"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "FE Raw Source File",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LKP Control File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LKP Control File').output.value",
						"type": "Expression"
					},
					"batchCount": 5,
					"activities": [
						{
							"name": "SP Build Refined Serverless Layer",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[uspExternalTblCreate]",
								"storedProcedureParameters": {
									"sinkTableName": {
										"value": {
											"value": "@item().sinkTableName",
											"type": "Expression"
										},
										"type": "String"
									},
									"sourceDataFile": {
										"value": {
											"value": "@item().sourceDataFile",
											"type": "Expression"
										},
										"type": "String"
									},
									"sourceDataFolder": {
										"value": {
											"value": "@item().sourceDataFolder",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_AzSQL_ServerlessPool",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "3- SQL Serverless Pool Refined Layer"
		},
		"annotations": [],
		"lastPublishTime": "2021-02-04T20:24:15Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}